*.log
**/.nv/
**/.ipynb_checkpoints/
*.0
*.out
*.elf
*.o
*.exe
one_script/randomBond
.nv/ComputeCache/index
**/lattices
*.bin
*.dll
*.so
*.dylib
optim/cuIsing
**/lattices_50
dev_open_boundary/dev_open_boundary
test_rng/test_rng
