*.log
**/.nv/
**/.ipynb_checkpoints/
*.0
*.out
*.elf
*.o
*.exe
.nv
one_script/randomBond
.nv/ComputeCache/index
**/lattices
*.bin
*.dll
*.so
*.dylib
optim/cuIsing
**/lattices_50
dev_basic_cuda/dev_basic_cuda
test_rng/test_rng
wl_*
prerun_*
**/__pycache__/
**/lattice
