*.log
**/.nv/
**/.ipynb_checkpoints/
*.0
*.out
*.elf
*.o
*.exe
.nv
one_script/randomBond
.nv/ComputeCache/index
**/lattices
*.bin
*.dll
*.so
*.dylib
optim/cuIsing
**/lattices_50
dev_basic_cuda/dev_basic_cuda
test_rng/test_rng
wl_*
prerun_*
**/__pycache__/
**/lattice/*
**/wl_*
**/prerun_*
**/init*/*
**/results/eight_vertex/J_scale/*
!WangLandau/prerun_eight_vertex.cu
WangLandau/prerun_-10
**/eight_vertex_*
WangLandau/main_eight_vertex_-10
main_eight_vertex_*
prerun_eight_vertex_*
